{% extends "base.html" %}
{% block page_name %}
    Home
{% endblock page_name %}

{% block content %}
    {% for room in rooms.object_list %}
        <h5> {{ room.name }} / ${{room.price}} </h5>
    {% endfor %}

    <h5>
    {% if rooms.has_previous %}
        <a href="?page={{rooms.number|add:-1}}">이전페이지</a>
    {% endif %}
    
    Page {{rooms.number}} of {{rooms.paginator.num_pages}}

    {% if rooms.has_next %}
        <a href="?page={{rooms.number|add:1}}">다음페이지</a>
    {% endif %}
    </h5>
{% endblock content %}

