{% extends "base.html" %}
{% block page_name %}
    Home
{% endblock page_name %}


{% block content %}

    {{ now }}

    {% for room in rooms %}
        <h5> {{ room.name }} / ${{room.price}} </h5>
    {% endfor %}

    <h5>
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}">이전페이지</a>
    {% endif %}
    
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">다음페이지</a>
    {% endif %}
    </h5>
{% endblock content %}

